/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.stickyHeader header{
	background-color: rgba(255, 215, 77, .7);
	@apply shadow-md;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

footer, body {
	background-color: #fecd28;
}

footer {
	position: relative;
}


footer::before {
    content: '';
    width: 102%;
    height: 100px;
    background-color: #ffd74d;
    display: block;
    position: absolute;
    transform: rotate(-1deg) translateY(-55px);
    -webkit-transform: rotate(-1deg) translateY(-55px);
    -moz-transform: rotate(-1deg) translateY(-55px);
    -ms-transform: rotate(-1deg) translateY(-55px);
    -o-transform: rotate(-1deg) translateY(-55px);
}

.hamburger-menu {
	width: 30px;
	height: 30px;
	position: relative;
    right: 10px;
	top: 0;
	cursor: pointer;
	float: right;
}

.hamburger-menu {
	transition-timing-function: cubic-bezier(.55,.055,.675,.19);
	transition-duration: 75ms;
}

.hamburger {
	top: 13px;
}

.hamburger, .hamburger::after, .hamburger::before{
	position: absolute;
    width: 30px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
}

.hamburger::after, .hamburger::before {
	content: "";
	display: block;
}

.hamburger::before {
	top: -10px
}

.hamburger:after {
	bottom: -10px
}



#primaryNav.active .hamburger-menu .hamburger {
	transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
}

#primaryNav.active .hamburger-menu .hamburger::after{
	bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
}

#primaryNav.active .hamburger-menu .hamburger::before{
	top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
}

#primaryNav.active .hamburger-menu .hamburger::after{
	top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
}



@media only screen and (max-width: 767px) {
	#primaryNav ul{
		transform: translate(100%, 2px);
		-webkit-transform: translate(100%, 2px);
		-moz-transform: translate(100%, 2px);
		-ms-transform: translate(100%, 2px);
		-o-transform: translate(100%, 2px);
		transition: transform .5s ease-in-out;
		-webkit-transition: transform .5s ease-in-out;
		-moz-transition: transform .5s ease-in-out;
		-ms-transition: transform .5s ease-in-out;
		-o-transition: transform .5s ease-in-out;
	}

	#primaryNav.active ul{
		transform: translate(0, 2px);
		-webkit-transform: translate(0, 2px);
		-moz-transform: translate(0, 2px);
		-ms-transform: translate(0, 2px);
		-o-transform: translate(0, 2px);
		transition: transform .5s ease-in-out;
		-webkit-transition: transform .5s ease-in-out;
		-moz-transition: transform .5s ease-in-out;
		-ms-transition: transform .5s ease-in-out;
		-o-transition: transform .5s ease-in-out;
	}
}


.divider {
	border-bottom: 2px solid #e2e8f0;
	margin-bottom: 10px
}

.divider .dots {
	width: 5px;
	height: 5px;
	margin: 15px auto 50px;
	position: relative;
}

.divider .dots::after, .divider .dots::before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 5px;
	height: 5px;
	background-color: #e2e8f0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: 0 auto 25px;
}

.htmlContainer p {
	margin-bottom: 1.5rem;
	text-align: left;
}


.btn-orange {
	background: #f2b21d; /* Old browsers */
	background: -moz-linear-gradient(left,  #f2b21d 0%, #ed962d 47%, #ef7300 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #f2b21d 0%,#ed962d 47%,#ef7300 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #f2b21d 0%,#ed962d 47%,#ef7300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b21d', endColorstr='#ef7300',GradientType=1 ); /* IE6-9 */
}

.swiper-slide {
	height: auto !important;
	text-align: center;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
	font-size: 18px !important;
	line-height: 1!important;
	color: #9a9a9a;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	padding: 0 21px;
		@apply shadow-lg;
		@apply border-gray-200;
		@apply bg-white;
		@apply border;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
}

.badge {
	right: 1rem;
	top: 1rem;
}

.img-wrapper {
	min-height: 66px;
    display: flex;
    align-items: center;
}


.achievements img {
	min-height: 115px;
}

